<section class="section" id="themes">
  <div class="container">
    <h2 class="text-center title">Themes To Choose From</h2>
    <p class="lead text-center">
      Diverse selection of Bootstrap Themes<br>
    </p>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="thumbnail">
          <%= image_tag 'themes/agency/portfolio/golden.png' %>
          <div class="caption">
            <h3>Agency</h3>
            <p>Agency is a stylish, one page Bootstrap theme for agencies and small businesses.</p>
            <% if current_user %>
              <p><a href="#" class="btn btn-primary" role="button">Select</a>
            <% else %>
              <p><a href="" data-toggle="modal" data-target="#loginModal" class="btn btn-primary" role="button">Select!!!</a>
            <% end %>
            <a href="<%= themes_agency_path %>" class="btn btn-default" role="button">Preview</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag 'sshot4.jpg' %>
          <div class="caption">
            <h3>Second Theme</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
            <p><a href="#" class="btn btn-primary" role="button">Select</a> <a href="#" class="btn btn-default" role="button">Preview</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-2">
        <div class="thumbnail">
          <%= image_tag 'sshot5.jpg' %>
          <div class="caption">
            <h3>Third Theme</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
            <p><a href="#" class="btn btn-primary" role="button">Select</a> <a href="#" class="btn btn-default" role="button">Preview</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag 'sshot3.jpg' %>
          <div class="caption">
            <h3>Fourth Theme</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
            <p><a href="#" class="btn btn-primary" role="button">Select</a> <a href="#" class="btn btn-default" role="button">Preview</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'home/login_modal' %>
