<body class="theme-invert">
  <nav class="mainmenu">
    <div class="container">
      <div class="dropdown">
        <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="#head" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#themes">Themes</a></li>
          <li><a href="#contact">Get in touch</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="section" id="head">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
          <h1 class="title">Scroople</h1>
          <h2 class="subtitle">create and edit your content without some silly admin panel</h2>
          <h3 class="tagline">
            Just click on sections you would like to update and type away.<br>
          </h3>
          <p><a href="" class="btn btn-default btn-lg">Login</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="about">
    <div class="container">
      <h2 class="text-center title">About Scroople</h2>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <h5><strong>What is Scroople?<br></strong></h5>
          <p>Well, here it is: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, ullam, ducimus, eaque, ex autem est dolore illo similique quasi unde sint rerum magnam quod amet iste dolorem ad laudantium molestias enim quibusdam inventore totam fugit eum iusto ratione alias deleniti suscipit modi quis nostrum veniam fugiat debitis officiis impedit ipsum natus ipsa. Doloremque, id, at, corporis, libero laborum architecto mollitia molestiae maxime aut deserunt sed perspiciatis quibusdam praesentium consectetur in sint impedit voluptates! Deleniti, sequi voluptate recusandae facere nostrum?</p>
        </div>
        <div class="col-sm-4">
          <h5><strong>Why was Scroople Build?<br></strong></h5>
          <p>Tempore, eos, voluptatem minus commodi error aut eaque neque consequuntur optio nesciunt quod quibusdam. Ipsum, voluptatibus, totam, modi perspiciatis repudiandae odio ad possimus molestias culpa optio eaque itaque dicta quod cupiditate reiciendis illo illum aspernatur ducimus praesentium quae porro alias repellat quasi cum fugiat accusamus molestiae exercitationem amet fugit sint eligendi omnis adipisci corrupti. Aspernatur.</p>
          <h5><strong>Author links<br></strong></h5>
          <p><a href="">GitHub</a> / <a href="">Twitter</a> / <a href="">LinkedIn</a> / <a href="">Facebook</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="themes">
    <div class="container">
      <h2 class="text-center title">Themes To Choose From</h2>
      <p class="lead text-center">
        Diverse selection of Bootstrap Themes<br>
      </p>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <div class="thumbnail">
            <%= image_tag 'themes/agency/portfolio/golden.png' %>
            <div class="caption">
              <h3>Agency</h3>
              <p>Agency is a stylish, one page Bootstrap theme for agencies and small businesses.</p>
              <p><a href="#" class="btn btn-primary" role="button">Select</a> <a href="<%= themes_agency_path %>" class="btn btn-default" role="button">Preview</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <%= image_tag 'sshot4.jpg' %>
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
              <p><a href="#" class="btn btn-primary" role="button">Select</a> <a href="#" class="btn btn-default" role="button">Preview</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <div class="thumbnail">
            <%= image_tag 'sshot5.jpg' %>
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
              <p><a href="#" class="btn btn-primary" role="button">Select</a> <a href="#" class="btn btn-default" role="button">Preview</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <%= image_tag 'sshot3.jpg' %>
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
              <p><a href="#" class="btn btn-primary" role="button">Select</a> <a href="#" class="btn btn-default" role="button">Preview</a></p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <!-- Fourth (Contact) section -->
  <section class="section" id="contact">
    <div class="container">

      <h2 class="text-center title">Get in touch</h2>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <p class="lead">Have any questions?</p>
          <p>Email us!</p>
          <p><b>info@scroople.com</b><br><br></p>
          <ul class="list-inline list-social">
            <li><a href="" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
            <li><a href="" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
            <li><a href="" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</body>
